<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoteamsoft.modules.project.mapper.ProjectGanttLinkMapper">

    <resultMap type="com.hoteamsoft.modules.project.entity.ProjectGanttLink" id="ProjectGanttLinkMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="source" column="source_id" jdbcType="INTEGER"/>
        <result property="target" column="target_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hoteamsoft.pj_project_gantt_link(source, target, type)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.sourceId}, #{entity.targetId}, #{entity.type})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hoteamsoft.pj_project_gantt_link(source, target, type)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.sourceId}, #{entity.targetId}, #{entity.type})
        </foreach>
        on duplicate key update
        source_id = values(source_id) , target_id = values(target_id) , type = values(type)
    </insert>

</mapper>

